@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ///////////////////////////////////nav bar//////////////////////////// */
nav{
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: 0px 5px 8px rgba(255, 254, 254, 0.5);
    z-index: 10;
}
i{
    color: #f47425;
}
.nav-link{
    /* color: rgb(255, 245, 245) !important; */
    color: whitesmoke!important;  
}

.nav-link:hover{
    color: #f47425 !important;
}
/* ################################# HOME ############################# */
#home{
    width: 100%;
    min-height: 100vh;
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.8)),
    url("../image/building.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    text-align: center;
    align-items: center;
    position:absolute;
}

#home .home-content{
    position: relative;
    /* margin: 12% 5% 2% 5% ; */
    margin: 12em;
}


.home-content h1{
    /* font-size: 7rem; */
    color: #f47425;
    font-weight: 500;
    font-family: 'Source Code Pro', monospace;
}

.home-content p{
    margin-top: 2%;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 1.1rem;
    color: white;
}

.home-content a{
    margin-top: 2%;
    font-size: 1.3rem;
    border-radius: 0;
    color: white;
    background-color: #f47425;
    border: #f47425 1px solid;
}

.home-content a:hover{
    background-color: #f47425 ;
    border: #f47425 1px solid;
}

.home-content button{
    margin-top: 2%;
    font-size: 1.3rem;
    border-radius: 0;
    border: #f47425 1px solid;
    color: white;
}

.home-content button:hover{
    background-color: #f47425;
    border: #f47425 1px solid;
    color: black;
}

@media (max-width:500px) {
    #home .home-content{
        position: relative;
        margin: 25% 5% 2% 5% ;
    }
}

@media (min-width:1440px) {
    .nav-link{
        font-size: 1.2rem; 
    }
    .home-content h1{
        font-size: 7rem;
    }
    .home-content p{
        font-size: 1.5rem;
        
    }
    .home-content a{
        font-size: 2rem;  
    }
    .home-content button{
        font-size: 2rem;  
    }
}